.outer {
    display: inline-block;
    margin-right: 40px;
  }
  
  .rectangle {
    --rectangle-height: 200px;
    --rectangle-width: calc(var(--rectangle-height) * 0.4);
  
    width: var(--rectangle-width);
    height: var(--rectangle-height);
    background: rgba(196, 196, 201, 0.995);
    border-radius: 15px;
    border: 2px solid black;
  }
  
  .rectangle-position {
    position: relative;
  }
  
  .rectangle-position .circle-red {
    position: absolute;
    right: 0;
    left: 0;
    top: 5%;
    margin: auto;
  }
  
  .rectangle-position .circle-yellow {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .rectangle-position .circle-green {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5%;
    margin: auto;
  }
  
  .circle {
    --circle-width: calc(var(--rectangle-height) * 0.25);
  
    width: var(--circle-width);
    height: var(--circle-width);
    border-radius: 50%;
    border: 2px solid black;
  }
  
  .rectangle-transform .circle-red {
    transform: translate(
      calc((var(--rectangle-width) - var(--circle-width)) / 2 - 2px),
      calc(var(--rectangle-height) * 0.05)
    );
  }
  
  .rectangle-transform .circle-yellow {
    transform: translate(
      calc((var(--rectangle-width) - var(--circle-width)) / 2 - 2px),
      calc(var(--rectangle-height) * (0.05 + 0.075) - 6px)
    );
  }
  
  .rectangle-transform .circle-green {
    transform: translate(
      calc((var(--rectangle-width) - var(--circle-width)) / 2 - 2px),
      calc(var(--rectangle-height) * (0.05 + 0.075 * 2) - 12px)
    );
  }
  
  .circle-red {
    background: rgb(250, 42, 42);
  }
  
  .circle-yellow {
    background: rgb(248, 233, 26);
  }
  
  .circle-green {
    background: rgb(3, 168, 9);
  }